head, body{
    background-color: rgb(139, 145, 129);
}
h1{
    color: rgb(63, 110, 2);
    font-size: 150px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px 5px rgb(204, 152, 204);
}
#text1, #text2{
    color: rgb(63, 110, 2);
    font-size: 60px;
    font-family: 'Merriweather', serif;
}

.row{
    margin:80px 0px 80px 300px;
    padding: auto;
}
.signOff{
    color: rgb(199, 123, 148);
    text-shadow: 2px 2px 5px purple;
    font-size: 30px;
    text-align: center;
    margin-top: 300px;
}
